{% extends "display/section_etc.html"%}
{% block content %}
    <!-- 403 Error Page -->
    <div class="error-page">
        <!-- error-content -->
        <h2 class="headline text-red">{{title}}</h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-red"></i> Oops! Access forbidden.</h3>
            <p>
                You do not have permission to access the page.
                Meanwhile, you may <a href="{{ url_for('main.home') }}">return to dashboard</a>.
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.403 Error Page -->
{% endblock %}