{% extends "display/section_etc.html"%}
{% block content %}
    <!-- 404 Error Page -->
    <div class="error-page">
        <!-- error-content -->
        <h2 class="headline text-yellow">{{title}}</h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
            <p>
                We could not find the page you were looking for.
                Meanwhile, you may <a href="{{ url_for('main.home') }}">return to dashboard</a>.
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.404 Error Page -->
{% endblock %}