{% extends "display/section_etc.html"%}
{% block content %}
    <!-- 500 Error Page -->
    <div class="error-page">
        <!-- error-content -->
        <h2 class="headline text-blue">{{title}}</h2>
        <div class="error-content">
            <h3><i class="fa fa-warning text-blue"></i> Oops! Page not found.</h3>
            <p>
                We will work on fixing that right away.
                Meanwhile, you may <a href="{{ url_for('main.home') }}">return to dashboard</a>.
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.500 Error Page -->
{% endblock %}