{% extends "display/section_etc.html" %}
{% block content %}
    <!-- Login Page -->
    <div class="login-box">
        <!-- Login logo -->
        <div class="login-logo">
            <b>Mantra</b> | <i>project</i>
        </div>
        <!-- Login body -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to Mantra</p>
            <!-- Include messages -->
            {% include "includes/_messages.html" %}
            <!-- Import render_field -->
            {% from "includes/_formHelper.html" import render_field %}
            <!-- Login Form -->
            <form action="" method="POST">
                {{ form.hidden_tag() }}

                <!-- Input Username -->
                <div class="form-group has-feedback">
                    {{render_field(form.username, class="form-control",
                    placeholder="Username", title="Username")}}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>

                <!-- Input Password -->
                <div class="form-group has-feedback">
                    {{render_field(form.password, class="form-control",
                    placeholder="Password", title="Password")}}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <div class="row">
                    <!-- Remember Me -->
                    <div class="col-xs-8">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div>
                    <!-- Submit Button -->
                    <div class="col-xs-4">
                        {{ form.submit(class="btn btn-primary btn-block btn-flat") }}
                    </div>
                </div>

            </form>
            <!-- /.Login Form -->
            <div class="social-auth-links text-center">
                <P>- OR -</P>
                <!-- Go to Register Page -->
                <small class="text-muted">
                    <a href="{{ url_for('auth.register') }}" class="text-center"><b>I do not have an account</b></a>
                </small>
            </div>
        </div>
    </div>
    <!-- /.Login Page -->
{% endblock %}