{% extends "display/section_content.html" %}
{% block content %}
    <!-- Profile Page -->
    <div class="row">
        <!-- User Information -->
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle"
                        src="{{ url_for('static', filename='dist/img/' + current_user.image_file) }}"
                        alt="User profile picture">
                    <h3 class="profile-username text-center">{{ current_user.username }}</h3>
                    <p class="text-muted text-center">{{ current_user.name }}</p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Email:</b>
                            <a class="pull-right">{{ current_user.email }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Web Tested:</b>
                            <a class="pull-right">{{ current_user.scanned_webs.__len__() }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Joined since:</b>
                            {% if current_user.is_authenticated %}
                            <a class="pull-right">{{ current_user.date_created.strftime('%d %B %Y') }}</a>
                            {% else %}
                            <a class="pull-right">Belum ada akun cok</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.User Information -->
        <!-- User Profile -->
        <div class="col-md-9">
            <div class="box box-primary">
                <!-- Box Title -->
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Settings
                    </h3>
                </div>
                <!-- Box Body -->
                <div class="box-body">
                    <!-- Import render_field -->
                    {% from "includes/_formHelper.html" import render_field %}
                    <!-- Update Profile Form -->
                    <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}

                        <!-- Input Username -->
                        <div class="form-group">
                            {{ form.username.label(class="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{render_field(form.username, class="form-control",
                                    placeholder="Username", title="Username")}}
                            </div>
                        </div>

                        <!-- Input Name -->
                        <div class="form-group">
                            {{ form.name.label(class="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{render_field(form.name, class="form-control",
                                    placeholder="Name", title="Name")}}
                            </div>
                        </div>

                        <!-- Input Email -->
                        <div class="form-group">
                            {{ form.email.label(class="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{render_field(form.email, class="form-control",
                                        placeholder="Email", title="Email")}}
                            </div>
                        </div>

                        <!-- Input New Password -->
                        <div class="form-group">
                            {{ form.new_password.label(class="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{render_field(form.new_password, class="form-control",
                                        placeholder="*Can be empty", title="New Password")}}
                            </div>
                        </div>

                        <!-- Input Profile Picture -->
                        <div class="form-group">
                            {{ form.picture.label(class="col-sm-2 control-label") }}
                            <div class="col-sm-10">
                                {{render_field(form.picture, class="form-control-file",
                                            placeholder="Picture", title="Choose picture")}}
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                {{ form.submit(class="btn btn-danger") }}
                            </div>
                        </div>
                    </form>
                    <!-- /.Update Profile Form -->
                </div>
            </div>
        </div>
        <!-- User Profile -->
    </div>
    <!-- /.Profile Page -->
{% endblock %}