{% extends "display/section_etc.html" %}
{% block content %}
    <!-- Register Page -->
    <div class="register-box">
        <!-- Register logo -->
        <div class="register-logo">
            <b>Mantra</b> | <i>project</i>
        </div>
        <!-- Register body -->
        <div class="register-box-body">
            <p class="register-box-msg">Register a new account</p>
            <!-- Import render_field -->
            {% from "includes/_formHelper.html" import render_field %}
            <!-- Register Form -->
            <form action="" method="POST">
                {{ form.hidden_tag() }}

                <!-- Input Username -->
                <div class="form-group has-feedback">
                    {{render_field(form.username, class="form-control",
                    placeholder="Username", title="Username")}}
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>

                <!-- Input Name -->
                <div class="form-group has-feedback">
                    {{render_field(form.name, class="form-control",
                    placeholder="Name", title="Name")}}
                    <span class="glyphicon glyphicon-tag form-control-feedback"></span>
                </div>

                <!-- Input Email -->
                <div class="form-group has-feedback">
                    {{render_field(form.email, class="form-control",
                    placeholder="Email", title="Email")}}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>

                <!-- Input Password -->
                <div class="form-group has-feedback">
                    {{render_field(form.password, class="form-control",
                    placeholder="Password", title="Password")}}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>

                <!-- Confirm Password -->
                <div class="form-group has-feedback">
                    {{render_field(form.confirm_password, class="form-control",
                    placeholder="Retype Password", title="Retype Password")}}
                    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                    </div>
                    <!-- Submit Button -->
                    <div class="col-xs-4">
                        {{ form.submit(class="btn btn-primary btn-flat") }}
                    </div>
                    <div class="col-xs-4">
                    </div>
                </div>
            </form>
            <!-- /.Register Form -->
            <!-- Go to Login Page -->
            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <small class="text-muted">
                    <a href="{{ url_for('auth.login') }}" class="text-center"><b>I already have an account</b></a>
                </small>
            </div>
        </div>
    </div>
    <!-- /.Register Page -->
{% endblock %}