<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS file -->
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet"
        href="{{ url_for('static', filename = 'bower_components/bootstrap/dist/css/bootstrap.css') }}">
    <!-- Font Awesome 4.7.0 -->
    <link rel="stylesheet"
        href="{{ url_for('static', filename = 'bower_components/font-awesome/css/font-awesome.css') }}">
    <!-- Ionicons v2.0.0 -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'bower_components/Ionicons/css/ionicons.css') }}">
    <!-- Theme style v2.4.8 -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'dist/css/AdminLTE.css') }}">
    <!-- AdminLTE Skins -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'dist/css/skins/skin-black.css') }}">
    <!-- Additional CSS -->
    {% block css %}
    {% endblock %}
    <!-- /.CSS file -->

    <!-- Google Font -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <title>{{ title }} | Mantra</title>
</head>

<body class="hold-transition skin-black fixed sidebar-mini {{ adds }}">
    <!-- Section -->
    {% block section %}
    {% endblock %}
    <!-- /.Section -->

    <!-- Script file -->
    <!-- jQuery v3.3.1 -->
    <script src="{{ url_for('static', filename = 'bower_components/jquery/dist/jquery.js') }}"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{{ url_for('static', filename = 'bower_components/bootstrap/dist/js/bootstrap.js') }}"></script>
    <!-- SlimScroll 1.3.8 -->
    <script
        src="{{ url_for('static', filename = 'bower_components/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ url_for('static', filename = 'bower_components/fastclick/lib/fastclick.js') }}"></script>
    <!-- AdminLTE App 2.4.8 -->
    <script src="{{ url_for('static', filename = 'dist/js/adminlte.js') }}"></script>
    <!-- Additional Script -->
    {% block script %}
    {% endblock %}
    <!-- /.Script file -->
</body>

</html>