{% extends "display/layout.html" %}
{% block section %}
    <!-- Site Wrapper -->
    <div class="wrapper">
        <!-- Header -->
        {% include "includes/_header.html" %}
        <!-- /.Header -->
        <!-- Sidebar -->
        {% include "includes/_sidebar.html" %}
        <!-- /.Sidebar -->
        <!-- Content -->
        <div class="content-wrapper">
            <!-- Content Header -->
            <section class="content-header">
                <h1>
                    {{ title }}
                </h1>
                <ol class="breadcrumb">
                    <li class="active"><i class="fa fa-{{icons}}"></i> {{ title }}</li>
                </ol>
            </section>
            <!-- Main Content -->
            <section class="content">
                <!-- Messages -->
                {% include "includes/_messages.html" %}
                <!-- /.Messages -->
                <!-- Content Block -->
                {% block content %}
                {% endblock %}
                <!-- /.Content Block -->
            </section>
            <!-- /.Main Content -->
        </div>
        <!-- /.Content -->
        <!-- Footer -->
        {% include "includes/_footer.html" %}
        <!-- /.Footer -->
    </div>
    <!-- /.Site Wrapper -->
{% endblock %}