<!-- Main Footer -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <strong>Version</strong> 1.0.0
    </div>
    <strong>
        &copy; Mantra
        <span class="text-muted"> | an automated penetration testing web-based application.</span>
    </strong>
</footer>
<!-- /.Main Footer -->