<!-- Main Header -->
<header class="main-header">
    <!-- Mantra Logo -->
    <a href="{{ url_for('main.home') }}" class="logo">
        <!-- Mantra logo for sidebar mini -->
        <span class="logo-mini"><b>M</b>/<i>p</i></span>
        <!-- Mantra logo for regular state -->
        <span class="logo-lg"><b>Mantra</b> | <i>project</i></span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle Navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <!-- The user image in the navbar-->
                        <img src="{{ url_for('static', filename = 'dist/img/' + current_user.image_file) }}"
                            class="user-image" alt="User Image">
                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                        <span class="hidden-xs">{{ current_user.username }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- The user image in the menu -->
                        <li class="user-header">
                            <img src="{{ url_for('static', filename = 'dist/img/' + current_user.image_file) }}"
                                class="img-circle" alt="User Image">
                            <p>
                                {{ current_user.username }}
                                <small>{{ current_user.email }}</small>
                            </p>
                        </li>
                        <!-- Menu Body -->
                        <li class="user-body">
                            <div class="pull-left">
                                <a href="{{ url_for('auth.profile') }}" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="{{ url_for('auth.logout') }}" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- /.Main Header -->