{% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {% for category, message in messages %}
            <!-- Message -->
            <div class="alert alert-{{category}} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-warning"></i>{{ category }}!</h4>
                {{ message }}
            </div>
            <!-- /.Message -->
        {% endfor %}
    {% endif %}
{% endwith %}