<!-- Main Sidebar -->
<aside class="main-sidebar">
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ url_for('static', filename = 'dist/img/' + current_user.image_file) }}"
                    class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ current_user.username }}</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- /.Sidebar user panel -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header text-center"><b>MANTRA NAVIGATION</b></li>
            <!-- Dashboard Menu -->
            <li class="{{home_menu}}">
                <a href="{{ url_for('main.home') }}">
                    <i class="fa fa-pie-chart"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- /.Dashboard Menu -->
            <!-- Pentest Menu -->
            <li class="treeview {{pentest_menu}}">
                <a href="#">
                    <i class="fa fa-gears"></i> <span>Pentest</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="{{pentest_new}}">
                        <a href="{{ url_for('autotest.pentest_new') }}">
                            <i class="fa fa-play"></i>New
                        </a>
                    </li>
                    <li class="{{pentest_results}}">
                        <a href="{{ url_for('autotest.pentest_results') }}">
                            <i class="fa fa-list"></i>Results
                        </a>
                    </li>
                </ul>
            </li>
            <!-- /.Petest Menu -->
            <!-- Profile Menu -->
            <li class="{{profile_menu}}">
                <a href="{{ url_for('auth.profile') }}">
                    <i class="fa fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <!-- /.Profile Menu -->
            <!-- Documentation Menu -->
            <li class="{{doc_menu}}">
                <a href="{{ url_for('main.documentation') }}">
                    <i class="fa fa-book"></i>
                    <span>Documentation</span>
                </a>
            </li>
            <!-- /.Documentation Menu -->
            <li class="header"></li>
            <!-- Developers Menu -->
            <li class="{{dev_menu}}">
                <a href="{{ url_for('main.developers') }}">
                    <i class="fa fa-legal"></i>
                    <span>About Developers</span>
                </a>
            </li>
            <!-- /.Developers Menu -->
        </ul>
        <!-- /.sidebar-menu -->
    </section>
</aside>
<!-- /.Main Sidebar -->