{% extends "display/section_content.html" %}
{% block content %}
    <div class="box box-solid">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#budanthara" data-toggle="tab">Budanthara</a></li>
                <li><a href="#dennycaka" data-toggle="tab">Denny</a></li>
                <li><a href="#dewanti" data-toggle="tab">Dewanti</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="budanthara">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="box-body">
                                <img class="profile-user-img img-responsive img-circle"
                                    src="{{ url_for('static', filename='dist/developers/budanthara.jpg') }}"
                                    alt="User profile picture">
                                <h3 class="profile-username text-center">Ida Bagus Budanthara</h3>
                                <p class="text-muted text-center">Back-end Engineer</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="box-body">
                                <div class="post text-justify">
                                    <p>Hello, I am one of the developer of Mantra application.</p>
                                    <p>
                                        I would to thank God about all that I already have.
                                        Especially, my experiences in penetration testing that
                                        I have worked on since 2013. Those experiences gave me an idea to develop an
                                        automated penetration testing based on website application.

                                    </p>
                                    <p>
                                        This application is made by our team to help penetration tester and web developer to
                                        prevent
                                        security issues in their website application. We hope that this application works
                                        well and can help to develop a secure application. We would improve this application
                                        as well.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="dennycaka">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="box-body box-profile">
                                <img class="profile-user-img img-responsive img-circle"
                                    src="{{ url_for('static', filename='dist/developers/denny.jpg') }}"
                                    alt="User profile picture">
                                <h3 class="profile-username text-center">I Wayan Denny Harry Caka</h3>
                                <p class="text-muted text-center">Front-end Engineer</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="box-body">
                                <div class="post text-justify">
                                    <p>Hi, everyone! I am one of the developer of Mantra application.</p>
                                    <p>
                                        Penetration testing is a new thing for me, and so is web development.
                                        I have basic to code with Python programming, but in web development using Python
                                        and Flask,
                                        both are a new experience. I have learnt that security is very important for
                                        website application, and it should be understood by the developer as well as the
                                        penetration tester does.
                                        I should be incapable of understanding a single code of Flask and security issues
                                        at the present moment, and yet I feel that I never have a greater experience than
                                        now.
                                    </p>
                                    <p>
                                        I would thank to my teammates that have told me to learn about Python, Flask,
                                        teamwork, and security fields. I love new experience which I enjoy with my whole
                                        heart. I would develop
                                        this application further as well as I keep developing my skills too!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane text-justify" id="dewanti">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="box-body">
                                <img class="profile-user-img img-responsive img-circle"
                                    src="{{ url_for('static', filename='dist/developers/dewanti.jpg') }}"
                                    alt="User profile picture">
                                <h3 class="profile-username text-center">Dewa Ayu Dewanti Satya Utami</h3>
                                <p class="text-muted text-center">Tester and Documentator</p>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="box-body">
                                <div class="post text-justify">
                                    <p>Hi! I am one of the developer of Mantra application.</p>
                                    <p>
                                        Firstly, I did not have experience at all in doing penetration testing.
                                        But, I have to work with that to develop this project. I think this is an
                                        interesting thing to do.
                                    </p>
                                    <p>
                                        We did our best to develop this appliation, we faced some problems and we had to
                                        struggle with those things. Fortunately, we have accomplished all of the tasks and
                                        functionals of this application. Hopefully, this Mantra application can be useful
                                        for everyone who use it.
                                        We would like to develop this application to be a better version in the future!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
    </div>
{% endblock %}