{% extends "display/section_content.html" %}
{% block content %}
    <!-- Platform Page Contet -->
    <div class="box box-primary">
        <!-- Page Title -->
        <div class="box-header with-border">
            <h3 class="box-title">
                {{title}}<small> | Mantra Documentation</small>
            </h3>
        </div>
        <!-- Page Body -->
        <div class="box-body">
            <section class="invoice">
                <div class="post text-justify">
                    <h3>Dashboard</h3>
                    <p>
                        This menu allows you to see the statistic data of the tested websites.
                        The statistic will be the platform name of each website that has been successfully tested.
                        You can also see the statistic of the number of the websites that already tested in every month on
                        the current year.
                    </p>
                </div>

                <div class="post text-justify">
                    <h3>Pentest</h3>
                    <ul>
                        <li>
                            <h4>New</h4>
                            <p>This menu allows you to create a new task of penetration testing to the tested website.
                                This menu requires <code>Title</code> and <code>Description</code> of the tested website.
                                Also, you must input a valid <code>URL</code> to perform a penetration testing. If it is
                                not, then penetration testing process would not be conducted.
                            </p>
                        </li>
                        <li>
                            <h4>Results</h4>
                            <p>
                                This menu allows you to see the list of results of the tested websites.
                                You can see the result of specific test directly by clicking
                                <code>Result</code> button. You can download the result to your device by clicking
                                <code>PDF</code> button. You also can delete the result by clicking
                                <code>Delete</code> button if it is necessary.
                            </p>
                        </li>
                    </ul>
                </div>

                <div class="post text-justify">
                    <h3>Profile</h3>
                    <p>
                        This menu allows you to edit your profile details.
                        You can be able to change
                        <code>Username</code>, <code>Name</code>,
                        <code>Password</code> if it is necessary, or <code>Email</code>.
                        The change applied after you click the <code>Update Profile</code>
                        button.
                    </p>
                </div>

            </section>
        </div>
    </div>
    <!-- /.Platform Page Contet -->
{% endblock %}