{% extends "display/section_content.html" %}
{% block content %}
    <!-- Home Page Content -->
    <div class="box box-primary">
        <!-- Page Title -->
        <div class="box-header with-border">
            <h3 class="box-title">
                {{title}}<small> | Mantra dashboard</small>
            </h3>
        </div>
        <!-- Page Body -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <!-- Platform Chart -->
                    <canvas id="platformChart"></canvas>
                </div>
                <div class="col-md-6">
                    <!-- Monthly Chart -->
                    <canvas id="monthlyChart"></canvas>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <!-- Import render_field -->
            {% from "includes/_formHelper.html" import render_field %}
            <form class="form-horizontal" method="POST">
                {{ form.csrf_token }}
                <!-- Input Year -->
                <div class="form-group">
                    {{ form.year.label(class="col-xs-3 control-label") }}
                    <div class="col-xs-3">
                        {{render_field(form.year, class="form-control")}}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.Home Page Content -->
{% endblock %}


{% block script %}
    <!-- Chart.js v2.8.0 -->
    <script src="{{ url_for('static', filename = 'bower_components/Chart.js/Chart.js') }}"></script>
    <script>
        $(document).ready(function (event) {
            displayChart();
        });

        
        // Global Variables
        Chart.defaults.global.defaultFontFamily = 'Lato';
        Chart.defaults.global.defaultFontSize = 12;
        Chart.defaults.global.defaultFontColor = '#777';

        function displayChart(){
            let yearSelected = document.getElementById('year');

            onYear = yearSelected.value;
            fetch("/pentest_chart/"+onYear).then(function(response){
                response.json().then(function(data){
                    //console.log(data); 
                    let statistic = data.statistic;
                    let platform_statistic = createPlatformChart(statistic.platform_statistic);
                    let monthly_statistic = createMonthlyChart(statistic.monthly_statistic);
                });
            });
            yearSelected.onchange = function(){
                onYear = yearSelected.value;
                fetch("/pentest_chart/"+onYear).then(function(response){
                    response.json().then(function(data){
                        //console.log(data);
                        let statistic = data.statistic;
                        let platform_statistic = createPlatformChart(statistic.platform_statistic);
                        let monthly_statistic = createMonthlyChart(statistic.monthly_statistic);
                    });
                });
            }
        }


        // function to create platform chart
        function createPlatformChart(data) {
            // Initiating data for platform statistic
            let platformLabels = [];
            let platformData = [];
            let platformBg = [];

            for (let i = 0; i < data.length; i++) {
                platformLabels.push(data[i].platform);
                platformData.push(data[i].count);
                platformBg.push(data[i].color);
            }
            let pieChart = $('#platformChart').get(0).getContext('2d');
            let myPieChart = new Chart(pieChart, {
                type: 'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data: {
                    labels: platformLabels,
                    datasets: [{
                        label: 'Count',
                        data: platformData,
                        backgroundColor: platformBg,
                        borderWidth: 1,
                        borderColor: '#777',
                        hoverBorderWidth: 3,
                        hoverBorderColor: '#000'
                    }],
                },
                options: {
                    responsive: true,
                    hoverMode: 'index',
                    stacked: false,
                    title: {
                        display: true,
                        text: 'Websites Platforms',
                        fontSize: 25
                    },
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {
                            fontColor: '#000'
                        },
                    }
                },
            });
        }
        // function to create monthly chart
        function createMonthlyChart(data) {
            let lineChartData = data;
            let lineChart = $('#monthlyChart').get(0).getContext('2d');
            let myLineChart = new Chart(lineChart, {
                type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
                data: lineChartData,
                options: {
                    responsive: true,
                    hoverMode: 'index',
                    stacked: false,
                    title: {
                        display: true,
                        text: `Monthly Statistic`,
                        fontSize: 25
                    },
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {
                            fontColor: '#000'
                        },
                    },
                },
            });
        }
    </script>
{% endblock %}